<div class = "container">
  <%= form_for ([:admin,product]) do |form| %>
    <div class = "d-flex justify-content-center">
      <div>
        <div class = "form-group"> 
          <%= form.label :name, '名稱' %>
          <%= form.text_field :name %>
        </div>
        <div class = "form-group"> 
          <%= form.label :list_price, '原價' %>
          <%= form.text_field :list_price %>
        </div>
        <div class = "form-group"> 
          <%= form.label :sell_price, '售價' %>
          <%= form.text_field :sell_price %>
        </div>
        <div class ="form-group">
          <%= form.label :sku, 'SKU' %>
          <%= form.text_field :sku %>
        </div>
        <div class ="form-group">
          <%= form.label :status, '狀態' %>
          <%= form.text_field :status %>
        </div>
        <div class ="form-group">
          <%= form.label :description, '描述' %>
          <%= form.text_area :description %>
        </div>
      <%= form.submit class: 'btn btn-secondary'%>
      <%= link_to "返回",admin_products_path, class:'btn btn-primary'%>
    </div>
  </div>
  <% end %>
</div>

