<div class = "container">
  <h1 class = "d-flex justify-content-center">首頁</h1>
  <div class = "d-flex justify-content-center"><%= link_to "新增",new_admin_product_path%></div>
  <div class="row">
    <% @products.each do |product|%>
      <div class = "col-4">
        <ul><%= link_to "圖片",admin_product_path(product)%></ul>
        <ul>名稱：<%= product.name %></ul>
        <ul>原價：<%= product.list_price %></ul>
        <ul>售價：<%= product.sell_price %></ul>
        <ul>狀態：<%= product.status %></ul>
        <ul>SKU：<%= product.sku%></ul>
        <ul><%= link_to "修改", edit_admin_product_path(product),class:'btn btn-primary'%>
        <%= link_to "刪除",admin_product_path(product), method: 'delete',data: {confirm: 'are you sure!?'},class:'btn btn-primary'%></ul>
      </div>
    <%end%>
  </div>
</div>