<div class = "container">
  <h1 class = "d-flex justify-content-center">首頁</h1>
  <div class="row">
    <% @products.each do |product|%>
      <div class = "col-3">
        <ul><%= link_to "圖片",product_path(product)%></ul>
        <ul>名稱：<%= product.name %></ul>
        <ul>原價：<%= product.list_price %></ul>
        <ul>售價：<%= product.sell_price %></ul>
        <ul>狀態：<%= product.status %></ul>
        <ul>SKU：<%= product.sku%></ul>
      </div>
    <%end%>
  </div>
</div>