<h1>商品首頁</h1>

<%= form_for(@product)do |form| %>
  <ul><%= link_to "名稱：", product_path%><%= form.text_field :name %></ul>
  <ul>原價：<%= form.text_field :list_price %></ul>
  <ul>售價：<%= form.text_field :sell_price %></ul>
  <ul>內容：<%= form.text_area :description %></ul>
  <ul><%= form.submit %></ul>
<% end %>